<mat-card>
    <mat-card-content>
        <div class="heading">
            <p>One step more</p>
            
           
        </div>
        <h2>Important Instruction</h2>
        <li>quiz will be for 15 min duration</li>
        <li>you can attend the quiz any number of time</li>
        <li>There are total 10 questions</li>
        <li>Each question contains 10 marks </li>
        <li>no negetive marks for wrong answer</li>


        <h2>Help / Support</h2>

        <li>send an email to help@exampotal.com</li>
        <li>You can call +9176378943</li>
        <button mat-raised-button color="primary" style="float: right;" routerLink="/exam">Start</button>

        


    </mat-card-content>
</mat-card>