<h4>Programming</h4>
<mat-grid-list cols="4" rowHeight="6:4">
  <mat-grid-tile><mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Core Java</mat-card-title>
        <!--   <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
      </mat-card-header>
      <mat-card-content>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, iusto? Iste omnis  </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" value="core java" routerLink="/instruction" (click)="startTopic('core java')" >Start</button>
        <button mat-raised-button>View</button>
      </mat-card-actions>
    </mat-card></mat-grid-tile>


  <mat-grid-tile><mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Advance Java</mat-card-title>
       <!--  <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
      </mat-card-header>
      <mat-card-content>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio eaque officii</p>

      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" routerLink="/instruction" (click)="startTopic('advance java')">Start</button>
        <button mat-raised-button>View</button>
      </mat-card-actions>
    </mat-card></mat-grid-tile>


  <mat-grid-tile><mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Python</mat-card-title>
        <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
      </mat-card-header>
      <mat-card-content>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi nemo minima explicabo  </p>

      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" routerLink="/instruction" (click)="startTopic('python')">Start</button>
        <button mat-raised-button>View</button>
      </mat-card-actions>
    </mat-card></mat-grid-tile>


</mat-grid-list>
