.welcome-img {
  background-color: rgba(0, 0, 0, 0.712);
  height: 100%;
  display: grid;
  place-items: center;
}

.welcome-img h1 {
  font-size: 2.5rem;
  color: azure;
  font-weight: 600;
}

.welcome-img .btn {
  color: azure;
  background-color: #00e908;
  font-size: 1.3rem;
  margin-bottom: 5rem;
  cursor: pointer;
  padding: 12px;
  border-radius: 4px;
  text-align: center;
  border: none;
}
