<h4>General Knowledge</h4>
<mat-grid-list cols="4" rowHeight="6:5">
  <mat-grid-tile><mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>General Knowledge</mat-card-title>
        <!--   <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
      </mat-card-header>
      <mat-card-content>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, iusto? Iste omnis  </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" routerLink="/instruction" (click)="startTopic('gk')">Start</button>
        <button mat-raised-button>View</button>
      </mat-card-actions>
    </mat-card></mat-grid-tile>


  <mat-grid-tile><mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Aptitude</mat-card-title>
       <!--  <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
      </mat-card-header>
      <mat-card-content>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio eaque officiis</p>

      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" routerLink="/instruction" (click)="startTopic('aptitude')">Start</button>
        <button mat-raised-button>View</button>
      </mat-card-actions>
    </mat-card></mat-grid-tile>


  <mat-grid-tile><mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Resoning</mat-card-title>
        <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
      </mat-card-header>
      <mat-card-content>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi nemo minima explicabo  </p>

      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" routerLink="/instruction" (click)="startTopic('resoning')">Start</button>
        <button mat-raised-button>View</button>
      </mat-card-actions>
    </mat-card></mat-grid-tile>


</mat-grid-list>
